@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&family=Josefin+Sans:ital@0;1&display=swap');
*{
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

html{
    scroll-behavior:initial;
}


.barra{
    background-color: sandybrown;
}

/* pagina principal */

.jumbotron{
background-image: url(/imagery/CARRRETERASANJOSE.jpg);
background-color: #000;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 400px;
border-radius: 0;
margin-bottom: 0;
}
.nosotros {
    background-color:rgba(75, 180, 49, 0.651);;
    margin:0;
    padding: 10px;
}

h2{
    background-color: rgba(244, 165, 96, 0.329);
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 5px #333;
    color: #000;
    padding: 0;
}

h4{
    text-align: center;
    font-size: 24px;
    color: black;
    text-shadow: 0 0 5px #333;
    text-transform: capitalize;

}

h5{
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    text-transform: capitalize;
}
p{
text-align: justify;
color: black;
}
a{
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 0 0 8px yellow;
    font-style: italic;
}
.tar1{
    width: 100%;
    height: 600px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}
.imgtreking{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/sierra-g59e0fcc06_1280.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black;
}

.tar2{
    width: 100%;
    height: 600px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}
.imgrafting{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/rafting2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black;
}


.tar3{
    width: 100%;
    height: 600px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}
.imghospedaaje{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/hospedaje2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black;
}

/* pagina treking */
.jumbotron__treking{
    background-image: url(/imagery/trekkingdos.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 0;
    margin-bottom: 0;
}
.tarchiletour{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgchiletour{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/Tours-Cajon-del-Maipo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tarcondores{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgcondores{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/miradorcondor.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tarrutag25{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgrutag25{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/ruta25.1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tartrekkingen{
    width: 100%;
    height: 810px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgtrekkingen{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/treking7.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

/* pagina rafting */

.jumbotron__rafting{
    background-image: url(./imagery/R1.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 0;
    margin-bottom: 0;
}
.tarRuta{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgRuta{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/R2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}


.chile_Rafting{
    width: 100%;
    height: 850px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgchile_Rafting{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/R4.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tarnat{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgnat{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/R3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}


.jumbotron__hospedaje{
    background-image: url(./imagery/h2.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 0;
    margin-bottom: 0;
}
.tarcabanas{
    width: 100%;
    height: 750px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgcabanas{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/h1.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tartres{
    width: 100%;
    height: 900px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgtres{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/h4.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}

.tarcascada{
    width: 100%;
    height: 1300px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 20px;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000; 
}
.imgcascada{
    height: 50%;
    background-color: black;
    background-image: url(./imagery/h5.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5px black; 
}
/* galeria */

.galeria{
    width: 100%;
    height: auto;
    background-color: rgb(173, 109, 49);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,200px);
    padding: 3px;
    grid-gap: 3px;
}
.img{
    background-color: rgb(207, 48, 207);
    border: 2px solid #333;
    background-size: cover;
    background-position: center;
    padding: 5px;
}
.img1{
    background-image: url(./imagery/trekkingdos.jpg);
}
.img2{
    background-image: url(./imagery/SAN_ALFONSODOS.jpg);
}
.img3{
    background-image: url(./imagery/INGENIOTRES.jpg);
}
.img4{
    background-image: url(./imagery/sou01.jpg.jpeg);
}
.img5{
    background-image: url(./imagery/hospedaje2.jpg);
}
.img6{
    background-image: url(./imagery/laguna2.jpg);
}


.img7{
    background-image: url(./imagery/INGENIO2.jpg);
}
.img8{
    background-image: url(./imagery/rafting2.jpg);
}

/* pagina de contacto */
.input .placeholder{
    border-radius: 10px;
    background-color: transparent;
}
h3{
    background-color:rgba(244, 165, 96, 0.486);
    border-radius: 10px;
}
.cuerpo{
    width: 325px; 
    
    border-style: solid 10px;
    background-color:rgba(75, 180, 49, 0.651);
    padding: 1px 10px 10px;
    }
.img10{
    width: 100%;
    background-size: cover;
    height: 300px;
    background-image: url(./imagery/sou02.jpg.jpeg);
}



footer{ 
    font-size: 15px;
    background-color:black;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    scroll-padding-right: 100px;}
footer a{
color:sandybrown;}

footer a:hover{
color: #333;
}

P1{
    color: yellow;
}


.redes{
color: #333;
font-size: 20px;
letter-spacing: 15px;
}

.subir{
width: 25px;
height: 25px;
background-color: sandybrown;
color: yellow;
position: fixed;
bottom: 35px;
right: 35px;
font-size: 20px;
line-height: 20px;
border-radius: 25%;
border: 5px solid sandybrown; 
}


    
@media only screen and (min-width:480px){
        .galeria{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4,200px);    
        }

        .cuerpo{
            width: 480px;
        }
}

@media only screen and (min-width:600px){
    .cuerpo{
        width: 600px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .jumbotron{
        height: 390px;
    }
    .imgtreking{
        height: 350px;
    }
    .imgrafting{
        height: 350px;
    }
    .imghospedaaje{
        height: 350px;
    }
    
    .tarchiletour{
        height: 700px;
    }
    .tarcondores{
        height: 700px;
    }
    .tartrekkingen{
        height: 700px;
    }

    .chile_Rafting{
        height: 700px;
    }
    .tarnat{
        height: 700px;
    }
    
    
    .tartres{
    height: 800px;}
    .tarcascada{
        height: 650px;
    }
    .tarcabanas{
        height: 630px;
    }
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4,200px);    
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .img3{
    grid-column: 1/2;
    grid-row: 2/3
    }
    .img4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .img5 {
    grid-column: 1/3;
    grid-row: 3/4;
    } 
    .img6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .img8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .cuerpo{
        width: 768px;
    }
}

@media only screen and (min-width:1024px) {
    .jumbotron{
        height: 600px;
    }
    .tar1{
        height: 1000px;
    }
    .tar2{
        height: 1000px;
    }
    .tar3{
        height: 1000px;
    }

    .imgtreking{
        height: 800px;
    }
    .imgrafting{
        height: 800px;
    }
    .imghospedaaje{
        height: 800px;
    }
    
    .tarchiletour{
        height: 700px;
    }
    .tarcondores{
        height: 700px;
    }
    .tartrekkingen{
        height: 700px;
    }

    .chile_Rafting{
        height: 700px;
    }
    .tarnat{
        height: 700px;
    }
    
    
    .tartres{
    height: 800px;}
    .tarcascada{
        height: 650px;
    }
    .tarcabanas{
        height: 800px;
    }
.jumbotron__treking{
    height: 800px;
}
.tarchiletour{
    height: 800px;
}
.tarchiletour{
    height:950px
}
.imgchiletour{
    height: 700px;
}
.tarcondores{
    height: 1050px;
}
.imgcondores{
    height: 800px;
}
.tarrutag25{
    height: 1000px;
}
.imgrutag25{
    height: 800px;
}
.tartrekkingen{
    height: 900px;
}
.imgtrekkingen{
    height:600px;
}





    .galeria{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8,200px);
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .img2{
        grid-column: 3/5;
        grid-row: 1/3;
    }
    .img3{
    grid-column: 3/5;
    grid-row: 3/5
    }
    .img4{
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .img5 {
    grid-column: 1/3;
    grid-row: 5/7;
    } 
    .img6{
        grid-column: 3/5;
        grid-row: 5/7;
    }
    .img7{
        grid-column: 1/3;
        grid-row: 7/9;
    }
    .img8{
        grid-column: 3/5;
        grid-row: 7/9;
    } 
}