@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&family=Josefin+Sans:ital@0;1&display=swap");
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
}

.barra {
  background-color: rgba(0, 0, 0, 0.884);
}

/* pagina principal */
.tarjetas_principal a {
  background-color: black;
  color: white;
  border-radius: 30px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron {
  background-image: url(/imagery/CARRRETERASANJOSE.jpg);
  background-color: rgba(0, 0, 0, 0.829);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 0%;
  margin-bottom: 0;
}

.nosotros {
  background-color: rgba(0, 0, 0, 0.829);
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.5019607843);
  /* background-color: rgba(244, 165, 96, 0.329); */
  text-shadow: inset 0 0 5px #000, 0 0 5px #000;
  color: black;
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  /* animacion h3 */
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(238, 162, 96, 0.274);
  text-shadow: inset 0 0 5px #000, 0 0 5px #000;
  color: black;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
}

h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  color: black;
  text-shadow: inset 0 0 5px #000, 0 0 5px #000;
  background-color: #fff;
  border-radius: 30px;
}

h5 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize;
  background-color: B;
}

p {
  text-align: justify;
  color: #fff;
}

a {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  color: black;
  font-style: italic;
  text-align: center;
}

.tarjetas_principal {
  height: auto;
}

.tar1 {
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.829);
  padding: 20px;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imgtreking {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/sierra-g59e0fcc06_1280.jpg);
}

.tar2 {
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.829);
  padding: 20px;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imgrafting {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/rafting2.jpg);
}

.tar3 {
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.829);
  padding: 20px;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imghospedaaje {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/hospedaje2.jpg);
}

/* pagina treking */
.jumbotron__treking {
  background-image: url(/imagery/trekkingdos.jpg);
  background-color: rgba(0, 0, 0, 0.829);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 0%;
  margin-bottom: 0;
}

.tarjetas_principal_treking {
  height: 3000px;
  background-color: rgba(0, 0, 0, 0.829);
}

.btn1 {
  text-align: center;
}

.tarjetas_principal_treking a {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tarchiletour {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
}

.imgchiletour {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/Tours-Cajon-del-Maipo.jpg);
}

.tarcondores {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
}

.imgcondores {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/miradorcondor.jpg);
}

.tarrutag25 {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
}

.imgrutag25 {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/ruta25.1.jpg);
}

.tartrekkingen {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 930px;
}

.imgtrekkingen {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/treking7.jpg);
}

/* pagina rafting */
.jumbotron__rafting {
  background-image: url(./imagery/R1.jpg);
  background-color: rgba(0, 0, 0, 0.829);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 0%;
  margin-bottom: 0;
}

.tarjetas_principal_rafting {
  background-color: rgba(0, 0, 0, 0.829);
}

.tarjetas_principal_rafting a {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tarRuta {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
}

.imgRuta {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/R2.jpg);
  height: vh-100;
}

.chile_Rafting {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 800px;
}

.imgchile_Rafting {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/R4.jpg);
}

.tarnat {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 730px;
}

.imgnat {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/R3.jpg);
}

/* hospedajes */
.tarjetas_principal_hospedaje {
  height: 2500px;
  background-color: rgba(0, 0, 0, 0.829);
}

.tarjetas_principal_hospedaje a {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron__hospedaje {
  background-image: url(./imagery/h2.png);
  background-color: rgba(0, 0, 0, 0.829);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 0%;
  margin-bottom: 0;
}

.tarcabanas {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 730px;
}

.imgcabanas {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/h1.png);
}

.tartres {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 780px;
}

.imgtres {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/h4.jpg);
}

.tarcascada {
  width: 100%;
  height: 730px;
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  padding: 20px;
  height: 990px;
}

.imgcascada {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
  height: 300px;
  background-color: black;
  background-image: url(./imagery/h5.jpg);
}

/* galeria */
.galeria {
  width: 100%;
  height: auto;
  background-color: rgb(173, 109, 49);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 3px;
  grid-gap: 3px;
}

.img {
  background-color: rgb(207, 48, 207);
  border: 2px solid #333;
  background-size: cover;
  background-position: center;
  padding: 5px;
}

.img1 {
  background-image: url(./imagery/trekkingdos.jpg);
}

.img2 {
  background-image: url(./imagery/SAN_ALFONSODOS.jpg);
}

.img3 {
  background-image: url(./imagery/INGENIOTRES.jpg);
}

.img4 {
  background-image: url(./imagery/sou01.jpg.jpeg);
}

.img5 {
  background-image: url(./imagery/hospedaje2.jpg);
}

.img6 {
  background-image: url(./imagery/laguna2.jpg);
}

.img7 {
  background-image: url(./imagery/INGENIO2.jpg);
}

.img8 {
  background-image: url(./imagery/rafting2.jpg);
}

/* pagina de contacto */
.cuerpo {
  width: 100%;
  height: 2290px;
  font-size: x-small;
  border-style: solid 10px;
  padding: 10px 10px 10px;
  background-color: rgba(185, 199, 188, 0.1450980392);
}

.cont {
  position: center;
  margin-top: 15px;
  text-transform: capitalize;
  font-style: oblique;
}

.cajacon {
  padding: 20px;
  height: 430px;
  border-radius: 5px;
}

form {
  width: 290px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin: auto;
  background-color: rgba(77, 71, 71, 0.541);
  padding: 5px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 7%;
}

input {
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.562);
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 120px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100%;
  border-radius: 4%;
  background-color: rgba(0, 0, 0, 0.562);
  border-inline: solid 2px;
}

.boton {
  background: #31384a;
  color: #fff;
  padding: 20px;
}

.boton:hover {
  cursor: pointer;
}

.img10 {
  width: 100%;
  background-size: cover;
  height: 510px;
  background-image: url(./imagery/sou02.jpg.jpeg);
}

.publicidad {
  width: 100%;
  height: 1550px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.829);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.publicidad a {
  line-height: 80px;
  background-color: black;
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 3px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.publicidad1 {
  text-align: center;
  width: 100%;
  height: 500px;
  color: #fff;
  padding: 15px;
  background-color: rgb(25, 8, 126);
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imgpublicidad1 {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
  background-image: url(./imagery/cabalgata2.jfif);
  background-size: cover;
  background-position: center;
}

.publicidad2 {
  margin-top: 10px;
  border-radius: 5%;
  text-align: center;
  width: 100%;
  height: 520px;
  color: #fff;
  background-color: rgb(25, 8, 126);
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imgpublicidad2 {
  width: auto;
  height: 300px;
  background-color: rgba(185, 199, 188, 0.1450980392);
  background-image: url(./imagery/trekingnoc.jfif);
  background-size: cover;
  background-position: center;
}

.publicidad3 {
  margin-top: 10px;
  border-radius: 3%;
  text-align: center;
  width: 100%;
  height: 520px;
  color: #fff;
  color: #fff;
  background-color: rgb(25, 8, 126);
  background: rgba(185, 199, 188, 0.1450980392);
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.imgpublicidad3 {
  width: auto;
  height: 300px;
  background-color: aquamarine;
  background-image: url(./imagery/trekingpubli3.jfif);
  background-size: cover;
  background-position: center;
}

footer {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.884);
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  scroll-padding-right: 100px;
}

footer a {
  color: black;
}

footer a:hover {
  color: white;
}

P1 {
  color: rgba(226, 219, 214, 0.452);
}

.redes {
  color: #333;
  font-size: 20px;
  letter-spacing: 15px;
}

.subir {
  width: 25px;
  height: 25px;
  background-color: sandybrown;
  color: yellow;
  position: fixed;
  bottom: 35px;
  right: 35px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 25%;
  border: 5px solid sandybrown;
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  /* treking */
  .tarjetas_principal_treking {
    height: 2550px;
  }
  .tarchiletour {
    height: 650px;
  }
  .tarcondores {
    height: 650px;
  }
  .tarrutag25 {
    height: 600px;
  }
  .tartrekkingen {
    height: 650px;
  }
  /* rafting */
  .tarRuta {
    height: 590px;
  }
  .chile_Rafting {
    height: 630px;
  }
  .tarnat {
    height: 590px;
  }
  /* hospedaje */
  .tarjetas_principal_hospedaje {
    height: 2250px;
  }
  .tarcabanas {
    height: 700px;
  }
  .tarcascada {
    height: 770px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .tarjetas_principal_hospedaje {
    height: 1880px;
  }
  .tarcabanas {
    height: 530px;
  }
  .tartres {
    height: 680px;
  }
  .tarcascada {
    height: 670px;
  }
  .cuerpo {
    width: 100%;
    height: 1650px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 767px) {
  .tarjetas_principal_hospedaje {
    height: 1900px;
  }
  .tarcabanas {
    height: 600px;
  }
  .tartres {
    height: 680px;
  }
  .tarcascada {
    height: 700px;
  }
  .cuerpo {
    width: 100%;
    height: 1550px;
    font-size: small;
  }
  .imgpublicidad1 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-position: center;
  }
  .imgpublicidad2 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-position: center;
  }
  .imgpublicidad3 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-position: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .jumbotron {
    height: 390px;
  }
  .tarjetas_principal_treking {
    height: 2320px;
  }
  .imgtreking {
    height: 350px;
  }
  .tarjetas_principal_rafting {
    height: 1770px;
  }
  .imgrafting {
    height: 350px;
  }
  .tarjetas_principal_hospedaje {
    height: 1810px;
  }
  .imghospedaaje {
    height: 350px;
  }
  .tarchiletour {
    height: 550px;
  }
  .tarcondores {
    height: 600px;
  }
  .tartrekkingen {
    height: 550px;
  }
  .chile_Rafting {
    height: 600px;
  }
  .tarnat {
    height: 540px;
  }
  .tartres {
    height: 590px;
  }
  .tarcascada {
    height: 650px;
  }
  .tarcabanas {
    height: 550px;
  }
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .img1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .img2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .img4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .img5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .img6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .img7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .img8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .cuerpo {
    width: 100%;
    height: 1750px;
    font-size: medium;
  }
  .imgpublicidad1 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad2 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad3 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 1024px) {
  .jumbotron {
    height: 500px;
  }
  .tar1 {
    height: 700px;
  }
  .tar2 {
    height: 700px;
  }
  .tar3 {
    height: 700px;
  }
  .imgtreking {
    height: 500px;
  }
  .imgrafting {
    height: 500px;
  }
  .imghospedaaje {
    height: 500px;
  }
  .tarchiletour {
    height: 300px;
  }
  .tarcondores {
    height: 400px;
  }
  .tartrekkingen {
    height: 600px;
  }
  .chile_Rafting {
    height: 600px;
  }
  .tarnat {
    height: 500px;
  }
  .tartres {
    height: 800px;
  }
  .tarcascada {
    height: 650px;
  }
  .tarcabanas {
    height: 800px;
  }
  .tarjetas_principal_treking {
    height: 2900px;
  }
  .jumbotron__treking {
    height: 500px;
  }
  .tarchiletour {
    height: 800px;
  }
  .tarchiletour {
    height: 750px;
  }
  .imgchiletour {
    height: 500px;
  }
  .tarcondores {
    height: 730px;
  }
  .imgcondores {
    height: 500px;
  }
  .tarrutag25 {
    height: 700px;
  }
  .imgrutag25 {
    height: 500px;
  }
  .tartrekkingen {
    height: 730px;
  }
  .imgtrekkingen {
    height: 500px;
  }
  .tarjetas_principal_hospedaje {
    height: 2100px;
  }
  .imgcabanas {
    height: 380px;
  }
  .tarcabanas {
    height: 650px;
  }
  .imgtres {
    height: 500px;
    height: 350px;
    background-size: cover;
    background-position: center;
  }
  .imgcascada {
    height: 350px;
    background-size: cover;
    background-position: center;
  }
  .cuerpo {
    width: 1024px;
  }
  .img10 {
    width: 100%;
  }
  .imgpublicidad1 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad2 {
    width: 80%;
    height: 370px;
    margin-left: 80px;
    background-size: cover;
    background-color: rgba(185, 199, 188, 0.1450980392);
    background-position: center;
  }
  .imgpublicidad3 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
}
.galeria {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 200px);
}

.img1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.img2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.img3 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.img4 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.img5 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.img6 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.img7 {
  grid-column: 1/3;
  grid-row: 7/9;
}

.img8 {
  grid-column: 3/5;
  grid-row: 7/9;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .cuerpo {
    width: 100%;
    height: 1750px;
    font-size: medium;
  }
  .img10 {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad1 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad2 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-color: rgba(185, 199, 188, 0.1450980392);
    background-size: cover;
    background-position: center;
  }
  .imgpublicidad3 {
    width: 80%;
    height: 300px;
    margin-left: 80px;
    background-size: cover;
    background-position: center;
  }
}

/*# sourceMappingURL=style.css.map */
